<form method="GET" action="https://biglietti.italotreno.it/Booking_Acquisto_Ricerca.aspx" id="redirect">
    {#<input type="text" name="Culture" value="fr-FR"/>#}
    <input type="text" name="BookingRicercaRestylingBookingAcquistoRicercaView$DropDownListPassengerType_ADT" value="1"/>
    <input type="text" name="BookingRicercaRestylingBookingAcquistoRicercaView$DropDownListSearchBy" value="columnView"/>
    <input type="text" name="BookingRicercaRestylingBookingAcquistoRicercaView$RadioButtonMarketStructure" value="OneWay"/>
    <input type="text" name="BookingRicercaRestylingBookingAcquistoRicercaView$TextBoxMarketOrigin1" value="{{ depStopCode }}"/>
    <input type="text" name="BookingRicercaRestylingBookingAcquistoRicercaView$TextBoxMarketDestination1" value="{{ arrStopCode }}"/>
    <input type="text" name="BookingRicercaRestylingBookingAcquistoRicercaView$DropDownListMarketDay1" value="{{ dateFrom | date('d') }}"/>
    <input type="text" name="BookingRicercaRestylingBookingAcquistoRicercaView$DropDownListMarketDay2" value=""/>
    <input type="text" name="BookingRicercaRestylingBookingAcquistoRicercaView$DropDownListMarketMonth1" value="{{ dateFrom | date('m-Y') }}"/>
    <input type="text" name="BookingRicercaRestylingBookingAcquistoRicercaView$DropDownListMarketMonth2" value=""/>
    <input type="text" name="__EVENTARGUMENT" value=""/>
    <input type="text" name="__EVENTTARGET" value="BookingRicercaRestylingBookingAcquistoRicercaView$ButtonSubmit"/>
    <input type="text" name="BookingRicercaRestylingBookingAcquistoRicercaView$ButtonSubmit" value="PROSEGUI"/>

    <input type="submit" />
</form>